<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManeroWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/41c8b474e2.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   @*  @if (ViewData["HideHeader"] as bool? != true)
    {
        <div id="header-partial"></div>
    } *@
    <main role="main">
        @RenderBody()
    </main>
@* 
    @if (ViewData["HideFooter"] as bool? != true)
    {
        <div style="margin-bottom: 60px;"></div>
        <partial name="_NavBarPartial" />
    }
 *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- custom script -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        if ('scrollRestoration' in history) {
            history.scrollRestoration = 'manual';
        }
    </script>
    <script>
        var pageTitle = document.title;
        var page = window.location.pathname;

        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("HeaderPartial", "Header")',
                data: { title: pageTitle, page: page },
                method: 'GET',
                success: function (result) {
                    $('#header-partial').html(result);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>