@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Andra head-element -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 image-container">
            <img src="../images/head-background.png" class="img-fluid" alt="Background Image" />
            <div class="text-overlay text-center">
                <p>
                    <span>PION</span><br>
                    BLOMBUTIKEN I ROSENDAL<br><br>
                    Öppettider<br>
                    tis, ons, tors, fre kl 14-19<br>
                    lördag kl 11-16<br><br>
                    VÄLKOMMEN
                </p>
            </div>
        </div>
    </div>
</div>


<div class="part2">
    <div class="part2Containar">
        <div class="part2ImageContainer">
            <img src="./images/part2.png" />
        </div>

        <div class="part2text">
            <h2>Den lilla kvartersbutiken med miljötänk och läcker elegans...</h2>
            <br />
            <br />
            <p>... i fokus. Hjärtligt välkommen till vår varma, vänliga butik där vi så långt det går väljer miljövänliga alternativ.</p>
            <br />
            <p>Vacker, elegant och egensinnig formgivning vill vi erbjuda er, där vi värnar om det floristiska hantverket i alla binderier.</p>
            <br />
            <p>Våra krukor, vaser och övriga produkter väljer vi med omsorg från välrenommerade återförsäljare. </p>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 part2border"></div>
        </div>
    </div>


    <div class="part3">
        <div>
            <div class="part3texts">
                <h3>Miljötänk</h3>
            </div>
            <p>
                Ingen kan göra allt, men alla kan göra lite. Vi är glada att berätta att vi har snittblommor och krukväxter från svenska odlare när möjlighet finns.<br>
                Vad gäller stickmassa finns det miljövänliga alternativ till den vanliga stickmassan, och vi använder dessa alternativ så mycket vi kan.<br>
                Vi säljer inga färska blommor som är infärgade, blommornas egen färg är perfekt som den är.<br>
                Vi har glasvaser gjorda av 100% återvunnet glas, vi har fat och skålar gjorda av 100% återvunnen plast, vi har krukor gjorda av odlingsrester och därmed är krukan komposterbar.<br>
                Vi återanvänder den plast blommorna levereras i från grossisten till att vatteninpacka buketter.<br>
                Ja detta är några exempel på hur vi jobbar med miljön.<br>
                Välkommen att fråga vad vi gör mer!<br>  <br>   <br>

                <span>Även närodlat</span>

                <br> Vi säljer snittblommor och krukväxter från lokala odlare kring
                Uppsala vid säsong, vi ser fram emot att kunna erbjuda er
                närodlat av bästa kvalite. Håll utkik i butiken för dessa finingar!
            </p>
        </div>
        <div class="imgBackground">
            <img src="/images/background.png.jpeg" alt="Alternate Text 1" />
            <img src="/images/background.png.jpeg" alt="Alternate Text 2" />
        </div>
    </div>
</div>
<div class="container1">
    <span>Vi erbjuder</span>
</div>



<div class="gallery">
    <div class="gallery-cell">
        <a href="/images/pic1.jpg" data-caption="Information om bild 1" class="gallery-link">
            <div class="img-container">
                <img src="/images/pic1.jpg" alt="Image Alt Text 1">
            </div>
            <p class="gallery-caption">
                <span>BUTIK</span> <br>
                Välkommen in i butiken när du vill ha blommor och tillbehör av hög kvalitet, när du vill skicka ett blombud i Uppsala med omnejd, och när du önskar tips och råd eller vill få inspiration.
            </p>
        </a>
        <a href="https://form.jotform.com/242432562367053" class="button" style="display: inline-block; height: 2rem; width: 4rem; line-height: 2rem; text-align: center; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px;">
            Order
        </a>

    </div>

    <div class="gallery-cell">
        <a href="/images/pic2.jpeg" data-caption="Information om bild 2" class="gallery-link">
            <div class="img-container">
                <img src="/images/pic2.jpeg" alt="Image Alt Text 2">
            </div>
            <p class="gallery-caption">
                <span>BUKETTPRENUMERATIONER</span><br>
                Prenumerera på blombuketter som levereras hem till dig varje torsdag eller fredag - du har då alltid färska vackra blommor inför helgen.<br>
                Vill du få leverans varannan vecka eller annat intervall går det utmärkt.<br>
                För företagsprenumeration läs mer under FEST & FÖRETAG.
            </p>
        </a>
        <a href="https://form.jotform.com/242432562367053" class="button" style="display: inline-block; height: 2rem; width: 4rem; line-height: 2rem; text-align: center; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px;">
            Order
        </a>

    </div>

    <div class="gallery-cell">
        <a href="/images/pic3.jpeg" data-caption="Information om bild 2" class="gallery-link">
            <div class="img-container">
                <img src="/images/pic3.jpeg" alt="Image Alt Text 2">
            </div>
            <p class="gallery-caption">
                <span>WORKSHOPS</span> <br>
                Boka en workshop för dig och dina vänner; till födelsedagar, möhippor, släktträffar eller bara som ett roligt sätt att träffas.<br>
                Populärt är också att arbetsgruppen möts på en workshop för en trivsam stund ihop eller som kick off efter semestern. Hör av dig så hittar vi ett datum.<br>
                Här hittar du även datum för öppna workshops när det är aktuellt.
            </p>
        </a>
        <a href="https://form.jotform.com/242432562367053" class="button" style="display: inline-block; height: 2rem; width: 4rem; line-height: 2rem; text-align: center; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px;">
            Order
        </a>

    </div>

    <div class="gallery-cell">
        <a href="/images/pic4.jpeg" data-caption="Information om bild 2" class="gallery-link">
            <div class="img-container">
                <img src="/images/pic4.jpeg" alt="Image Alt Text 2">
            </div>
            <p class="gallery-caption">
                <span>WORKSHOPS</span> <br>
                Boka en workshop för dig och dina vänner; till födelsedagar, möhippor, släktträffar eller bara som ett roligt sätt att träffas.<br>
                Populärt är också att arbetsgruppen möts på en workshop för en trivsam stund ihop eller som kick off efter semestern. Hör av dig så hittar vi ett datum.<br>
                Här hittar du även datum för öppna workshops när det är aktuellt.
            </p>
        </a>
        <a href="https://form.jotform.com/242432562367053" class="button" style="display: inline-block; height: 2rem; width: 4rem; line-height: 2rem; text-align: center; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px;">
            Order
        </a>

    </div>

    <div class="gallery-cell">
        <a href="/images/pic5.jpg" data-caption="Information om bild 2" class="gallery-link">
            <div class="img-container">
                <img src="/images/pic5.jpg" alt="Image Alt Text 2">
            </div>
            <p class="gallery-caption">
                <span>WORKSHOPS</span> <br>
                Boka en workshop för dig och dina vänner; till födelsedagar, möhippor, släktträffar eller bara som ett roligt sätt att träffas.<br>
                Populärt är också att arbetsgruppen möts på en workshop för en trivsam stund ihop eller som kick off efter semestern. Hör av dig så hittar vi ett datum.<br>
                Här hittar du även datum för öppna workshops när det är aktuellt.
            </p>
        </a>
        <a href="https://form.jotform.com/242432562367053" class="button" style="display: inline-block; height: 2rem; width: 4rem; line-height: 2rem; text-align: center; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px;">
            Order
        </a>

    </div>


    <div class="gallery-cell">
        <a href="/images/pic6.jpeg" data-caption="Boka en workshop för dig och dina vänner; till födelsedagar, möhippor, släktträffar eller bara som ett roligt sätt att träffas. Populärt är också att arbetsgruppen möts på en workshop för en trivsam stund ihop eller som kick off efter semestern. Hör av dig så hittar vi ett datum. Här hittar du även datum för öppna workshops när det är aktuellt." class="gallery-link">
            <div class="img-container">
                <img src="/images/pic6.jpeg" alt="Image Alt Text 2">
            </div>
            <p class="gallery-caption">
                <span>WORKSHOPS </span> <br>
                Boka en workshop för dig och dina vänner; till födelsedagar, möhippor, släktträffar eller bara som ett roligt sätt att träffas.<br>
                Populärt är också att arbetsgruppen möts på en workshop för en trivsam stund ihop eller som kick off efter semestern. Hör av dig så hittar vi ett datum.<br>
                Här hittar du även datum för öppna workshops när det är aktuellt.
            </p>
          
        </a>
        <a href="https://form.jotform.com/242432562367053" class="button" style="display: inline-block; height: 2rem; width: 4rem; line-height: 2rem; text-align: center; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px;">
            Order
        </a>

    </div>


</div>

<!-- Ljusbox -->
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <div class="lightbox-content">
        <img id="lightbox-image" src="" alt="Full-size image">
        <div id="lightbox-caption" class="lightbox-caption"></div>
    </div>
    <a class="prev" onclick="changeSlide(-1)">
        <i class="fas fa-angle-left"></i>
    </a>
    <a class="next" onclick="changeSlide(1)">
        <i class="fas fa-angle-right"></i>
    </a>

</div>

<script src="../Views/Home/Index.cshtml.js"></script>


@* contact *@
<div class="shadowcontact">

    <div class="contact-container">
        <div>
            <div class="contact-address">
                <h2>KONTAKTA OSS</h2>
                <h4>Plats</h4><br />
                <p>
                    PION blombutiken i Rosendal,
                    <br> Soldathemsvägen 13,
                    <br>752 57 Uppsala
                </p>
                <h4>Kontaktinformation</h4>
                <p> 076 00 57 52 0 </p>
                <p> info@pionblombutiken.se</p>


            </div>
            <div class="social-media">
                <a href="https://www.instagram.com" target="_blank" class="social-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <div class="contact-form">
            <p>Välkommen att kontakta oss för att få veta mer om priser och de tjänster vi erbjuder. Vi svarar gärna på dina frågor.</p>

            <form>
                <label for="name">Namn*</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email*</label>
                <input type="email" id="email" name="email" required>

                <label for="telefon">Telefon*</label>
                <input type="tel" id="telefon" name="telefon" required>

                <label for="message">Meddelande*</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <div class="btn-container">
                    <a class="btn" href="#">Skicka</a>
                </div>


            </form>
        </div>

    </div>

</div>