@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">


<div class="text-center">
    <div class="image-container">
        <img src="../images/head-background.png" alt="Background Image" />
        <div class="text-overlay">
            <h1>PION</h1>
            <h6 style=" margin-top: -10px;"> BLOMBUTIKEN I ROSENDAL</h6>
            <br />
            <h5>Öppettider</h5>
            <h5>tis, ons, tors, fre kl 14-19</h5>
            <h5>lördag kl 11-16</h5>
            <br />
            <h5>VÄLKOMMEN</h5>
        </div>
    </div>
</div>
<div class="part2">
    <div class="part2Containar">
    <div class="part2ImageContainer">
        <img src="./images/part2.png" />
    </div>

        <div class="part2text">
            <h2>Den lilla kvartersbutiken med miljötänk och läcker elegans...</h2>
            <br />
            <br />
            <p>... i fokus. Hjärtligt välkommen till vår varma, vänliga butik där vi så långt det går väljer miljövänliga alternativ.</p>
            <br />
            <p>Vacker, elegant och egensinnig formgivning vill vi erbjuda er, där vi värnar om det floristiska hantverket i alla binderier.</p>
            <br />
            <p>Våra krukor, vaser och övriga produkter väljer vi med omsorg från välrenommerade återförsäljare. </p>
        </div>
    </div>
    <div class="part2border"></div>

    <div class="part3">
        <div class="part3text">
            <div class="part3texts">
              <h3>Miljötänk</h3>
            </div>
            <div>
            <p>
                Ingen kan göra allt, men alla kan göra lite. Vi är glada att berätta att vi  har snittblommor och krukväxter från svenska odlare när möjlighet finns.

                Vad gäller stickmassa finns det miljövänliga alternativ till den vanliga stickmassan, och vi använder dessa alternativ så mycket vi kan.

                Vi säljer inga färska blommor som  är infärgade, blommornas  egen färg är perfekt som den är.

                Vi har glasvaser gjorda av 100% återvunnet glas, vi har fat och skålar gjorda av 100% återvunnen plast, vi har krukor gjorda av odlingsrester och därmed är krukan komposterbar.

                Vi återanvänder den plast blommorna levereras i från grossisten till att vatteninpacka buketter.

                Ja detta är några exempel på hur vi jobbar med miljön. Välkommen att fråga vad vi gör mer!
            </p>
        </div>
        </div>
    <div class="imgBackground">
        <img src="/images/background.png.jpeg" alt="Alternate Text 1" />
        <img src="/images/background.png.jpeg" alt="Alternate Text 2" />
    </div>
    </div>
</div>

