@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 image-container">
            <img src="../images/head-background.png" class="img-fluid" alt="Background Image" />
            <div class="text-overlay text-center">
                <p>
                    <span>PION</span><br>
                    BLOMBUTIKEN I ROSENDAL<br><br>
                    Öppettider<br>
                    tis, ons, tors, fre kl 14-19<br>
                    lördag kl 11-16<br><br>
                    VÄLKOMMEN
                </p>
            </div>
        </div>
    </div>
</div>


<div class="part2">
    <div class="part2Containar">
        <div class="part2ImageContainer">
            <img src="./images/part2.png" />
        </div>

        <div class="part2text">
            <h2>Den lilla kvartersbutiken med miljötänk och läcker elegans...</h2>
            <br />
            <br />
            <p>... i fokus. Hjärtligt välkommen till vår varma, vänliga butik där vi så långt det går väljer miljövänliga alternativ.</p>
            <br />
            <p>Vacker, elegant och egensinnig formgivning vill vi erbjuda er, där vi värnar om det floristiska hantverket i alla binderier.</p>
            <br />
            <p>Våra krukor, vaser och övriga produkter väljer vi med omsorg från välrenommerade återförsäljare. </p>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 part2border"></div>
        </div>
    </div>


    <div class="part3">
        <div>
            <div class="part3texts">
                <h3>Miljötänk</h3>
            </div>
            <p>
                Ingen kan göra allt, men alla kan göra lite. Vi är glada att berätta att vi har snittblommor och krukväxter från svenska odlare när möjlighet finns.<br>
                Vad gäller stickmassa finns det miljövänliga alternativ till den vanliga stickmassan, och vi använder dessa alternativ så mycket vi kan.<br>
                Vi säljer inga färska blommor som är infärgade, blommornas egen färg är perfekt som den är.<br>
                Vi har glasvaser gjorda av 100% återvunnet glas, vi har fat och skålar gjorda av 100% återvunnen plast, vi har krukor gjorda av odlingsrester och därmed är krukan komposterbar.<br>
                Vi återanvänder den plast blommorna levereras i från grossisten till att vatteninpacka buketter.<br>
                Ja detta är några exempel på hur vi jobbar med miljön.<br>
                Välkommen att fråga vad vi gör mer!<br>  <br>   <br>

                <span>Även närodlat</span>
                
                <br> Vi säljer snittblommor och krukväxter från lokala odlare kring
                Uppsala vid säsong, vi ser fram emot att kunna erbjuda er 
                närodlat av bästa kvalite. Håll utkik i butiken för dessa finingar!
            </p>
        </div>
        <div class="imgBackground">
            <img src="/images/background.png.jpeg" alt="Alternate Text 1" />
            <img src="/images/background.png.jpeg" alt="Alternate Text 2" />
        </div>
    </div>
</div>
<div class="container1">
    <span>Vi erbjuder</span>

</div>


